@font-face {
    font-family: "Righteous";
    src: url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
}

* {
    font-family: "Righteous";
}

/*  Default 320x */
html body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: scroll 1s;
}

body {
    background-color: #222831;
}

a {
    color: inherit;
    margin: 0;
    padding: 0;
}
/* Header */
header {
    display: flex;
    color: white;
    background-color: #222831;
    height: calc(100vh + 53px);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

header h1 {
    margin: 1rem 0;
}

header h1 span {
    text-decoration: underline;
    color: #8ecccc;
}


/* Intro Profile */
.profile {
    font-weight: bold;
    font-size: xx-large;
}

#profile-button {
    font-weight: normal;
    font-size: smaller;
    border-style: solid;
    float: left;
    margin-top: 1rem;
    padding: .5rem;
    margin-bottom: 53px;
}

#arrow {
    display: inline-block;
    transition: all .3s;
}

#arrow::before {
    content: "➜";
    padding: .3rem;
    color: white;
}

#profile-button:hover {
    background-color: #4072DD;
}

#profile-button:hover #arrow {
    transform: rotate(90deg);
}

/* Navigation */
nav {
    background-color: #8ecccc;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    display: block;
    margin: 0;
    padding: 2rem;
    margin: 5rem 0;
}

nav ul li {
    margin: .5rem 0;
    text-align: center;
    border-style: solid;
    list-style-type: none;
    padding-top: 0;
    font-size: xx-large;
    color: black;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
}

nav ul li:hover {
    transform: scale(1.1);
}

/* Projects */
#projects {
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

.card { 
    display: inline;
    justify-content: center;
    background-color: #83aac4;
    flex: 1 0 100%;
    border-style: solid;
    text-align: center;
    font-size: xx-large;
    padding: 5rem 0;
    margin: 5rem 0;

    cursor: pointer;
    transition: transform .2s;
}

.project-name {
    font-size: 3rem;
}

.project-description {
    display: inherit;
    font-size: 1.8rem;
    line-height: 2;
}

.card:hover {
    transform: scale(1.05);
}

/* About Me */
#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style: solid;
    margin: 5%;
    background-color: #83aac4;
}

.about-me-img {
    border-radius: 50%;
    width: 75%;
    margin: 2% 100%
}

.about-me-description {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2%;
}

/* Socials */
#socials {
    text-align: center;
    font-size: 4rem;
}

#socials ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#socials ul li {
    display: inline-flex;
    padding: 0 2rem;
    justify-content: space-between;
}

#socials ul li:hover {
    transition: all .7s;
    transform: scale(1.05);
    background-color: #83aac4;
}

#copied {
    position: fixed;
    bottom: 8rem;
    right: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #779BE7;
    border-style: solid;
    text-align: center;
    transition: opacity ease-in-out 1s;
    opacity: 0;
}

/* Category Introductions */
.intro-category {
    display: inline;
    margin: 2rem;
    color: white;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 576px) {
    /* Making Nav display in one line */
    nav ul {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    nav ul li {
        display: inline;
        padding: 0 1rem;
        margin: 0 1rem;
        font-size: x-large;
    }
}

@media screen and (min-width: 768px) {
    /* Adding Some extra padding for larger screens */
    header {
        padding: 3rem;
    }
}

@media screen and (min-width: 992px) {
    /* Making projects display one then two on desktops */
    #main-project {
        flex: 1 0 70%;
        margin: 0 5rem;
    }

    .card {
        display: flex;
        flex: 1 0 20%;
        flex-wrap: wrap;
        margin: 3rem 2rem;
        transition: transform .2s;
    }

    .project-name {
        width: 100%;
    }
}